/* 공통속성 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '고딕';
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

/* admin header */
#admin-wrapper {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: 120px;
    background: url(../images/admin_bg_header.jpg) repeat-x;
}

header > div {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
header > div > .logo {
    float: left;
    margin-top: 46px;
}
header > div > p {
    float: right;
    color: #fff;
    margin-top: 46px;
}
header > div > p > span {
    margin-right: 16px;
}
header > div > p > a {
    color: #fff;
}

main {
    width: 1400px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
main > aside {
    float: left;
    width: 270px;
    height: auto;
    background: url('../images/admin_bg_aside.jpg') repeat-y;
    border-left: 1px solid #c0c0c0;
    box-sizing: border-box;
}

#gnb {
    width: 100%;
    height: auto;
}
#gnb > li {
    width: 100%;
    min-height: 66px;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
}
#gnb > li:last-child {border-bottom: 1px solid #c0c0c0;}

#gnb > li > a {
    display: block;
    width: 100%;
    height: 66px;
    font-size: 14px;
    font-weight: bold;
    color: #222;
    line-height: 66px;
    text-indent: 10px;
}
#gnb > li > a > i {
    margin-right: 10px;
    font-size: 20px;
}

#gnb ol {
    display: none;
    width: 100%;
    height: auto;
}
#gnb ol > li {
    width: 100%;
    height: 32px;
}
#gnb ol > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 52px;
}

main > section {
    float: right;
    width: 1130px;
    min-height: 600px;
    padding: 20px;
    box-sizing: border-box;
}

main > section > nav {
    position: relative;
    width: 100%;
    height: 46px;
    margin-bottom: 16px;
    border-bottom: 1px solid #c0c0c0;
    box-sizing: border-box;
}

main > section > nav > h3 {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
main > section > nav > p {
    position: absolute;
    right: 0;
    bottom: 10px;
}
main > section > nav > p > strong {
    font-weight: bold;
}

main > section > article {
    overflow: hidden;
}

main > section > article section {
    margin-bottom: 16px;
}
main > section > article section > p {
    background: #eaeaea;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

main h4 {
    font-size: 15px;
    font-weight: bold;
}

main table {
    width: 100%;
    border-collapse: collapse;
}
main table tr {}
main table tr > td {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
    text-align: left;
}
main table tr > td:nth-child(1) {
    width: 160px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #f6f6f6;
    padding: 10px;
    text-align: left;
}

main table span {
    display: block;
}


/* admin footer */
footer {
    width: 100%;
    height: 60px;
    background: #0d3a46;
}

footer > div {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

footer > div > p {
    padding-top: 22px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

p.ico {
    width: 100%;
    height: 58px;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    padding-left: 50px;
    line-height: 58px;
    box-sizing: border-box;
}
p.info    {border-color: #8497BF; background: #A8B2C5 url('../images/admin_ico_info.png') no-repeat scroll 15px 16px;}
p.success {border-color: #C6D881; background: #E6EFC2 url('../images/admin_ico_success.png') no-repeat scroll 15px 16px;}
p.alert   {border-color: #FDD845; background: #FFF6BF url('../images/admin_ico_alert.png') no-repeat scroll 15px 16px;}
p.error   {border-color: #FBC7C9; background: #FBE3E4 url('../images/admin_ico_error.png') no-repeat scroll 15px 16px;}

label {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}


input {
    width: 200px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #fefefe;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
}

input[type=checkbox] {
    width: auto;
    margin-right: 6px;
}

select {
    width: 150px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #fefefe;
    color: #333;
    box-sizing: border-box;
}

textarea {
    padding: 5px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #eaeaea;
    color: #333;
    box-sizing: border-box;
    resize: none;
}

/* span {
    vertical-align: bottom;
    color: #bc2e13;
} */

button {
    border: 1px solid #959595;
    font-size: 12px;
    background: #a8b2c5;
    padding: 9px 15px;
    color: #fff;
    vertical-align: top;
}

button[type=submit] {
    float: right;
    height: 26px;
    margin-right: 246px;
    padding: 0 15px;
    background-color: #a8b2c5;
    border: 1px solid #959595;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
}


/* admin-index */
#admin-index {}

.admin {
    float: left;
    width: 1130px;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}

#admin-index > article {
    width: 100%;
    height: auto;
    overflow: hidden;
}
#admin-index > article > table {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    border-collapse: collapse;
    border-top: 2px solid #8798a3;
}

#admin-index > article > table tr {}
#admin-index > article > table tr:first-child {
    background: #fafafa !important;
}
#admin-index > article > table tr > td {
    width: 20%;
    border: 1px solid #e5e5e5;
    padding: 6px 6px 6px 12px;
    color: #111;
    text-align: center;
}
#admin-index > article > table tr > td > strong {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}
#admin-index > article > table tr > td > span {
    display: block;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #bc2e13;
}

#admin-index > article > table tr > td > p {
    padding: 6px;
    overflow: hidden;
}
#admin-index > article > table tr > td > p > span {
    font-size: 14px;
}
#admin-index > article > table tr > td > p > span:nth-child(1) {
    float: left;
}
#admin-index > article > table tr > td > p > span:nth-child(2) {
    float: right;
}

#admin-index > div {
    width: 100%;
    height: auto;
    overflow: hidden;
}
#admin-index > div > div {
    width: 49%;
    height: auto;
}

#admin-index > div > div:nth-child(1) {float: left;}
#admin-index > div > div:nth-child(2) {float: right;}

#admin-index > div > div > article {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    border-top: 2px solid #8798a3;
    padding: 16px;
    box-sizing: border-box;
}

#admin-index > div > div > article > p {
    overflow: hidden;
}

#admin-index > div > div > article > p > span {
    line-height: 26px;
}

#admin-index > div > div > article > p > span:nth-child(1) {
    float: left;
    display: block;
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}
#admin-index > div > div > article > p > span:nth-child(2) {
    float: right;
}

/* admin : product-register */
#admin-product-register {}
#admin-product-register input[type=submit] {
    float: right;
    width: 100px;
}

/* admin : product-list */
#admin-product-list {}
#admin-product-list > section > div  {
    margin-bottom: 10px;
}

#admin-product-list > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-product-list > section > table  tr > th{
    padding: 10px 0;
    background: #f6f6f6;
}
#admin-product-list > section > table  tr > td {
    background: #fff;
    text-align: center;
    box-sizing: border-box;
}
#admin-product-list > section > table  tr > td:nth-child(1) {width: 20px;}
#admin-product-list > section > table  tr > td:nth-child(2) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(3) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(4) {
    width: auto;
    text-align: left;
}
#admin-product-list > section > table  tr > td:nth-child(5) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(6) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(7) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(8) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(9) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(10) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(11) {width: 100px;}

#admin-product-list > section > table img.thumb {width: 60px;}


#admin-product-list > section input[type=button] {
    width: 100px;
    margin-top: 10px;
}
/* 선택삭제 */
#admin-product-list > section #deleteButton {
    float: left;
    background: #fff;
    height:auto;
    cursor:pointer;
    text-indent: 0;
    padding: 10px 15px;
    border : 1px solid #d6d6d6;
    box-sizing: border-box;
    margin-top: 10px;
}
/* 등록하기 */
#admin-product-list > section #registerButton {
    float: right;
    background: #fff;
    height:auto;
    cursor:pointer;
    text-indent: 0;
    padding: 10px 15px;
    border : 1px solid #d6d6d6;
    box-sizing: border-box;
    margin-top: 10px;
}

#admin-product-list > section input.searchButton {
    width: 75px;
    height: 30px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
}

/* 검색어 하이라이트 */
.highlight {
    background: #fff200;
    color: #ee3c24;
    display: inline-block;
}

/* list 페이징 */
#admin-product-list .paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

#admin-product-list .paging > a {
    color: #777;
    font-family: "돋움", Dotum, Tahoma, sans-serif;
    font-size: 11px;
    letter-spacing: -1px;
}

#admin-product-list .paging > a:hover {
    text-decoration: underline;
}

#admin-product-list .paging > .num {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-family: Tahoma;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#admin-product-list .paging > .num:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
#admin-product-list .paging > .current {
    color: #fe434c;
    font-weight: bold;
}


/* admin cs list */
#admin-cs-list > section > div  {
    margin-bottom: 10px;
}

#admin-cs-list > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-cs-list > section > table  tr > th{
    padding: 10px 0;
    background: #f6f6f6;
}
#admin-cs-list > section > table  tr > td {
    background: #fff;
    text-align: center;
    box-sizing: border-box;
}
#admin-cs-list > #notice > table  tr > td:nth-child(1) {width: 20px;}
#admin-cs-list > #notice > table  tr > td:nth-child(2) {width: 50px;}
#admin-cs-list > #notice > table  tr > td:nth-child(3) {width: 100px;}
#admin-cs-list > #notice > table  tr > td:nth-child(4) {width: 400px; text-align: left;}
#admin-cs-list > #notice > table  tr > td:nth-child(5) {width: 50px;}
#admin-cs-list > #notice > table  tr > td:nth-child(6) {width: 100px;}
#admin-cs-list > #notice > table  tr > td:nth-child(7) {width: 70px;}

#admin-cs-list > section > table img.thumb {width: 60px;}

#admin-cs-list > section input[type=button] {
    float: left;
    width: 100px;
    margin-top: 10px;
}

/* cs 페이징 처리 */
#admin-cs-list .paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

#admin-cs-list .paging > a {
    color: #777;
    font-family: "돋움", Dotum, Tahoma, sans-serif;
    font-size: 11px;
    letter-spacing: -1px;
}

#admin-cs-list .paging > a:hover {
    text-decoration: underline;
}

#admin-cs-list .paging > .num {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-family: Tahoma;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#admin-cs-list .paging > .num:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
#admin-cs-list .paging > .current {
    color: #fe434c;
    font-weight: bold;
}

/* cs 선택삭제 */
#admin-cs-list > section #deleteButton {
    float: left;
    background: #fff;
    height:auto;
    cursor:pointer;
    text-indent: 0;
    padding: 10px 15px;
    border : 1px solid #d6d6d6;
    box-sizing: border-box;
    margin-top: 10px;
}

/* cs 등록하기 */
#admin-cs-list > section #registerButton {
    float: right;
    background: #fff;
    height:auto;
    cursor:pointer;
    text-indent: 0;
    padding: 10px 15px;
    border : 1px solid #d6d6d6;
    box-sizing: border-box;
    margin-top: 10px;
}

#admin-cs-list > #faqQna > table  tr > td:nth-child(1) {width: 20px;}
#admin-cs-list > #faqQna > table  tr > td:nth-child(2) {width: 50px;}
#admin-cs-list > #faqQna > table  tr > td:nth-child(3) {width: 80px;}
#admin-cs-list > #faqQna > table  tr > td:nth-child(4) {width: 80px;}
#admin-cs-list > #faqQna > table  tr > td:nth-child(5) {width: 400px; text-align: left;}
#admin-cs-list > #faqQna > table  tr > td:nth-child(6) {width: 70px;}
#admin-cs-list > #faqQna > table  tr > td:nth-child(7) {width: 70px;}
#admin-cs-list > #faqQna > table  tr > td:nth-child(8) {width: 70px;}

/* 공지사항 보기 */
#cs-view > table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}

#cs-view > table tr {
    width: 100%;
    height: 60px;
}
#cs-view > table tr > td:nth-child(1) {
	width: 132px;
    font-size: 17px;
    font-weight: bold;
    padding-right: 0px;
    text-align: center;
}
#cs-view > table tr > td:nth-child(2) {
    padding-left: 47px;
    font-size: 15px;
}

#cs-view > table td {
    border-bottom: 1px solid #ccc;
}
#cs-view > table tr > .content {
    height: 300px;
}
#cs-view > table tr > .content > p {
    font-size: 16px;
    line-height: 30px;
}
#cs-view > div {
	float: right;
    margin-top: 35px;
}
#cs-view > div > .deleteCs {
	background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
}

#cs-view > table tr > td > .reply {
	width: 510px;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
    font-size: 16px;
    text-indent: 5px;
}

/****** QNA 전용*********/
#cs-view > form > table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}

#cs-view > form > table tr {
    width: 100%;
    height: 60px;
}
#cs-view > form > table tr > td:nth-child(1) {
	width: 132px;
    font-size: 17px;
    font-weight: bold;
    padding-right: 0px;
    text-align: center;
}
#cs-view > form > table tr > td:nth-child(2) {
    padding-left: 47px;
    font-size: 15px;
}

#cs-view > form > table td {
    border-bottom: 1px solid #ccc;
}
#cs-view > form > table tr > .content {
    height: 300px;
}
#cs-view > form > table tr > .content > p {
    font-size: 16px;
    line-height: 30px;
}

#cs-view > form > table tr > td > textarea {
	width: 510px;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
    font-size: 16px;
    text-indent: 5px;
}
#cs-view > form > a {
	display: inline-block;
    margin-top: 5px;
    float: right;
    margin: 2px;
}

#cs-view > form > .deleteCs {
	background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
}
#cs-view > form > .btnWrite {
    margin-top: 2px;
}

/* 공지사항 글 쓰기 */
#cs-write > form > table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #111;
}
#cs-write > form > table tr{
    width: 100%;
    height: 26px;
}
#cs-write > form > table td{
    font-size: 16px;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}
#cs-write > form > table td:first-child{
    width: 100px;
}
#cs-write > form > table input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    text-indent: 10px;
    box-sizing: border-box;
}
#cs-write > form > table select {
    width: 150px;
    height: 40px;
    text-indent: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
#cs-write > form > table select * {
    font-size: 16px;
}
#cs-write > form > table textarea {
    width: 100%;
    height: 360px;
    resize: none;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}


#cs-write > input:nth-of-type(1) {
    margin-top: 50px;
    float: right;
}
#cs-write > input:nth-of-type(2) {
    display: block;
    margin-top: 50px;
    float: right;
}

/* 공지사항 수정 */
#cs-modify > form > table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #111;
}
#cs-modify > form > table tr{
    width: 100%;
    height: 26px;
}
#cs-modify > form > table td{
    font-size: 16px;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}
#cs-modify > form > table td:first-child{
    width: 100px;
}
#cs-modify > form > table input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    text-indent: 10px;
    box-sizing: border-box;
}
#cs-modify > form > table select {
    width: 216px;
    height: 40px;
    text-indent: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
#cs-modify > form > table select * {
    font-size: 16px;
}
#cs-modify > form > table textarea {
    width: 100%;
    height: 360px;
    resize: none;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}


#cs-modify > form > .btnList {
	margin-left: 899px;
    display: inline-block;
    margin-top: 5px;
}
#cs-modify > form > .btnWrite {
    display: block;
    margin-top: 70.5px;
    margin-right: 5px;
    height: 36px;
    font-size: 18px;
    float: right;
    box-sizing: border-box;
}

#cs-write .btnList{
	position: relative;
    top: 10px;
    left: 470px;
}
#cs-write .btnWrite{
	top: 609px;
    right: 384px;
    font-size: 18px;
    width: 114px;
    height: 36px;
    box-sizing: border-box;
}

.btnList{
    background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.btnDelete{
    background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.btnModify{
    background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.btnWrite{
	position: absolute;
    bottom: 20px;
    right: 28px;
    border-radius: 2px;
    /* padding: 5px 20px; */
    line-height: 38px;
    box-sizing: border-box;
    font-size: 13px;
    color: #fff;
    background-color: #067dfd;
    border: 1px solid #0063ce;
    height: 38px;
    width: 81px;
    text-align: center;
    cursor: pointer;

}

#qnaRemove{
    position: relative;
    right: 201px;
    top: 5px;
}
#reply1{
	position: relative;
    top: 5px;
    height: 36px;
    left: 896px;
    font-size: 18px;
    width: 90px;
}
#reply2{
	position: relative;
    top: 5px;
    height: 36px;
    left: 896px;
    font-size: 18px;
    width: 90px;
}
#qnaList{
	position: relative;
    top: 5px;
    right: -66px;
}