<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/cs_layout">
<th:block layout:fragment="main">

    <article>
        <th:block th:switch="${cate2}">
        <nav th:case=null>
            <h1>전체</h1>
            <h2>공지사항 전체 내용입니다.</h2>
        </nav>
        <nav th:case="service">
            <h1>고객서비스</h1>
            <h2>고객서비스 관련 내용입니다.</h2>
        </nav>
        <nav th:case="safeDeal">
            <h1>안전거래</h1>
            <h2>안전거래 관련 내용입니다.</h2>
        </nav>
        <nav th:case="xproduct">
            <h1>위해상품</h1>
            <h2>위해상품 관련 내용입니다.</h2>
        </nav>
        <nav th:case="great">
            <h1>이벤트당첨</h1>
            <h2>이벤트당첨 관련 내용입니다.</h2>
        </nav>
        <table>
        <!-- 게시글이 있는 경우 -->
        <th:block th:if="${#lists.size(articles) != 0}">
            <tr th:each="article,i:${articles}" th:object="${ph}">
                <td>[[*{totalCnt-sc.offset} - ${i.index}]]</td>
                <td>
                    <a th:href="@{/cs/notice/view} + ${ph.sc.getQueryString(ph.sc.page, article.csNo)}"
                       th:text="|${article.title}|" class="title" th:data-no="${article.csNo}"></a>
                    <!--/* <span th:if="${article.comment gt 0}" th:text="|[${article.comment}]|"></span> */-->
                    <!--/*<img th:if="${article.file gt 0}" style="" alt="파일" th:src="@{/images/file.jpg}" /> */-->
                    <!--/*<input type="hidden" class="content" th:value="${article.content}">*/-->
                </td>
                <!--/*<td class="nick">[[${article.nick}]]</td>*/-->
                <!--/*<td>[[${#dates.format(article.rdate, 'yy-MM-dd')}]]</td>*/-->
            </tr>
        </th:block>
        <!-- 게시글이 없는 경우 -->
        <th:block th:if="${#lists.size(articles) == 0}">
            <tr> <td colspan="5">등록된 게시글이 없습니다.</td> </tr>
        </th:block>
        </table>
        <!-- 게시글이 없는 경우 페이지 넘버 숨기기 -->
        <div class="page" th:style="${#lists.size(articles) == 0 ? 'visibility:hidden;':''}" th:object="${ph}">

            <th:block th:if="*{showPrev}">
                <a th:href="@{/cs/notice/list} + ${ph.sc.getQueryString(ph.beginPage-1)}" class="prev">이전</a>
            </th:block>

            <th:block th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}">
                <a  th:href="@{/cs/notice/list} + ${ph.sc.getQueryString(num)}" th:class="${num == ph.sc.page ? 'num current':'num'}">
                    [[${num}]]
                </a>
            </th:block>

            <th:block th:if="*{showNext}">
                <a th:href="@{/cs/notice/list} + ${ph.sc.getQueryString(ph.endPage+1)}" class="next">다음</a>
            </th:block>
        </div>
    </article>
    </section>
    </div>
    </section>
</th:block>