/*** 초기화 ***/
* {margin: 0; padding: 0; font: normal 12px 고딕;}
a {text-decoration: none; color: #111;}
ul, ol {list-style: none;}
html, body {height: 100%}
#wrapper { 
    height : auto;
    min-height: 100%;
    padding-bottom: 192px;
    box-sizing: border-box;
}

/*** 헤더 ***/
header{
    min-width: 1200px;
    height: 197px;
    box-sizing: border-box;
}
header > div {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid #e9e9e9;
}
header > div.top {height: 35px;}
header > div div {
    width: 1200px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}
header > div.top nav {
    height: 100%;
    float: right;
}
header > div.top nav > a{
    display: inline-block;
    height: 100%;
    line-height: 35px;
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
    color: #646464;
}
header > div.top nav > a:nth-child(4){border-right: 1px solid #e9e9e9;}

header > div.top nav > a:hover{
    color: #333;
    border-bottom: 1px solid #444;
}
header > div.logo {height: 115px;}
header > div.logo > div > a {
    display: inline-block;
    margin-top: 30px;
}

/*** 회원 ***/
/* 로그인 */
#member{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
#member > div {
    width: 900px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}
#member > div > nav {
    box-sizing: border-box;
    border-bottom: 2px solid #0e6ad3;
    padding-bottom: 5px;
}
#member > div > nav > h1{
    font-size: 24px;
    display: inline-block;
}
#member > .login > nav > p{
    float: right;
    color: #888;
    font-size: 11px;
    line-height: 45px;
}
#member > .login > nav > p > span{font-weight: bold; vertical-align: middle;}
#member > .login > form {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    padding-top: 80px;
    padding-left: 22px;
    position: relative;
}
#member > .login > form > table {
    float: left;
    border-collapse: collapse;
}
#member > .login > form > table td:nth-child(1){
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
}
#member > .login > form > table td{
    padding: 2px;
}
#member > .login > form > table input{
    width: 200px;
    height: 31px;
    padding: 0 13px;
    font-size: 12px;
    font-weight: bold;
    color: #0075d4;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 0 10px #eee;
}
#member > .login > form > input {
    width: 97px;
    height: 71px;
    font-size: 0px;
    background-image: url('../img/member_btn_login.gif');
    margin-top: 3px;
    margin-left: 5px;
    float: left;
    border: none;
}
#member > .login > form > div{
    position: absolute;
    font-size: 0;
    top: 170px;
    left: 91px;
}
#member > .login > form > div > label{
    color: #676767;
    font-weight: bold;
}
#member > .login > form > div > label > input {
    position: relative;
    top: 1.5px;
}
#member > .login > form > div > a{
    height: 13px;
    margin: 0;
    padding: 0 6px;
    color: #676767;
    border-left: 1px solid #999;
    box-sizing: border-box;
    font-weight: bold;
}

#member > .login > form > a {display: inline-block;}
#member > .login > form > a > img{
    position: absolute;
    top: 21px;
    right: 0PX;
}
#member > .login > img {
    display: block;
    margin: 36px auto;
}
/* 회원가입 - join */
#member > .join{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
}
#member > .join > img{
    margin: auto;
    display: block;
}
#member > .join > .type {
    margin: 100px auto;
    overflow: hidden;
    display: inline-block;
}
#member > .join > .type > div {
    float: left;
    width: 420px;
    height: 100%;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    overflow: hidden;
}
#member > .join >.type > div:nth-of-type(2) {margin-left: 80px;}
#member > .join > .type > div > div {
    padding: 33px;
    text-align: center;
    font-size: 0;
}
#member > .join > .type > div:nth-of-type > div > a {
    display: inline-block;
    height: 40px;
}
#member > .join > .type > div:nth-of-type(1) > div > a {margin-left: 30px;}
#member > .join > .type > div:nth-of-type(2) > div > a {margin-left: 20px;}
#member > .join > img:nth-of-type(2), #member > .join > img:nth-of-type(3){
    margin-bottom: 20px;
}

/* 회원가입 - signup */
#member > .signup > section {overflow: hidden;}
#member > .signup > section:nth-of-type(4) {margin-bottom: 20px;}
#member > .signup > section > h3 {margin-top: 20px;font-size: 14px;}
#member > .signup > section > h3 > span.essential {color: #ef3f43;}
#member > .signup > section > h3 > span.optional {color: #01c1c4;}
#member > .signup > section > textarea {
    margin-top: 10px;
    width: 100%;
    height: 160px;
    border: 1px solid #bababa;
    box-sizing: border-box;
    resize: none;
}
#member > .signup > section > label {
    margin-top: 5px;
    font-size: 14px;
    float: right;
}
#member > .signup > section > label > input {
    position: relative;
    top: 1.5px;
    margin-right: 6px;
}
#member > .signup > .agreeBtn, #member > .register > .registerBtn {
    background: #ef3f43;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 10px 72px;
    cursor: pointer;
    display: block;
    margin: 50px auto;    
    border-radius: 3px; 
}

/* 회원가입 - register */
#member > .register {}
#member > .register > section {}
#member > .register > section > table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid #b6bdc7;
}
#member > .register > section > table > caption {
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}
#member > .register > section > table tr {border-bottom: 1px solid #dfe5ed;}
#member > .register > section > table th {
    width: 200px;
    height: 54px;
    padding: 0 20px;
    font-size: 14px;
    box-sizing: border-box;
    background: #f4f6f9;
    text-align: left;
}
#member > .register > section > table th > .essential{color: #ef3f43;}
#member > .register > section > table td {padding-left: 10px;}
#member > .register > section > table input {
    vertical-align: middle;
    padding: 0 5px;
    height: 31px;
    font-size: 14px;
    border: 1px solid #dfe5ed;
}
#member > .register > section > table input > span {}
#member > .register > section > table label {font-size: 14px;}
#member > .register > section > table .radio input {
    vertical-align: middle;
    height: auto;
}
#member > .register > section > table .addr > td {padding-top: 10px;}
#member > .register > section > table .addr > td > input {margin-bottom: 6px;}
#member > .register > section > table .addr > td > input:nth-of-type(2) {width: 370px;}
#member > .register > section > table .addr > td > input:nth-of-type(3) {width: 370px;}


/* 회원가입 - registerSeller */
#member > .registerSeller {}
#member > .registerSeller > section {}
#member > .registerSeller > section > table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid #b6bdc7;
}
#member > .registerSeller > section > table > caption {
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}
#member > .registerSeller > section > table tr {border-bottom: 1px solid #dfe5ed;}
#member > .registerSeller > section > table th {
    width: 200px;
    height: 54px;
    padding: 0 20px;
    font-size: 14px;
    box-sizing: border-box;
    background: #f4f6f9;
    text-align: left;
}
#member > .registerSeller > section > table th > .essential{color: #ef3f43;}
#member > .registerSeller > section > table td {padding-left: 10px;}
#member > .registerSeller > section > table input {
    vertical-align: middle;
    padding: 0 5px;
    height: 31px;
    font-size: 14px;
    border: 1px solid #dfe5ed;
}
#member > .registerSeller > section > table label {font-size: 14px;}
#member > .registerSeller > section > table .radio input {
    vertical-align: middle;
    height: auto;
}
#member > .registerSeller > section > table .addr > td {padding-top: 10px;}
#member > .registerSeller > section > table .addr > td > input {margin-bottom: 6px;}
#member > .registerSeller > section > table .addr > td > input:nth-of-type(2) {width: 370px;}
#member > .registerSeller > section > table .addr > td > input:nth-of-type(3) {width: 370px;}

/*** 푸터 ***/
footer {
    min-width: 1200px;
    width: 100%;
    height: 192px;
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
    position : relative;
    transform : translateY(-100%);
}
footer > div:nth-child(1), footer > div > div{
    width: 1200px;
    height: auto;
    margin: 0px auto;
    padding: 15px 0;
    overflow: hidden;
}
footer > div:nth-child(2) {
    width: 100%;
    border-top: 1px solid #e9e9e9;
}
footer > div > div:nth-child(2) {padding-top: 20px;}
footer > div > ul {
    float: left;
}

footer > div > ul > li {float: left;}
footer > div > ul > li > a {
    display: inline-block;
    border-left: 1px solid #d7d7d7;
    padding: 0px 13px;
}
footer > div > ul > li:nth-child(4) > a {border-right:1px solid #d7d7d7}
footer > div > div > p, footer > div > div > img {float: left;}
footer > div > div > p {
    font-size: 11px;
    line-height: 18px;
    color: #676767;
}
footer > div > div > p:nth-of-type(1) {margin: 0 55px;}
footer > div > div > p > span {
    display: inline-block;
    color:#464646;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}