<!DOCTYPE html>
<%@ taglib uri = "http://java.sun.com/jsp/jstl/core" prefix = "c" %>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="UTF-8">
    <title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>
<!--    <link rel="shortcut icon" type="image/x-icon" th:href='@{/images/favicon.ico}'>-->
<!--    <link rel="stylesheet"-->
<!--          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">-->
<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->
<!--    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>-->
</head>
<body>
    <th:block th:if="${sc.cate1 == 'null'}">
    </th:block>
    <th:block th:if="${sc.cate1 == 'notice'}">
      <th:block th:replace="fragments/cs_aside::notice"></th:block>
    </th:block>
    <th:block th:if="${sc.cate1 == 'qna'}">
      <th:block th:replace="fragments/cs_aside::qna"></th:block>
    </th:block>
    <th:block th:if="${sc.cate1 == 'faq'}">
      <th:block th:replace="fragments/cs_aside::faq"></th:block>
    </th:block>
</body>
</html>