<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="main">
    <section>
        <!-- 슬라이더 영역 -->
        <section class="slider">
            <div class="bx-wrapper" style="max-width: 100%;">
                <div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 447px;">
                    <ul style="width: 5215%; position: relative; transition-timing-function: linear; transition-duration: 0s; transform: translate3d(-985px, 0px, 0px);">
                        <li style="float: left; list-style: none; position: relative; width: 985px;" class="bx-clone" aria-hidden="true">
                            <a href="#">
                                <img th:src="@{https://via.placeholder.com/985x447}" alt="item5">
                            </a>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 985px;" aria-hidden="false">
                            <a href="#">
                                <img th:src="@{https://via.placeholder.com/985x447}" alt="item1">
                            </a>
                        </li>
                        <li aria-hidden="true" style="float: left; list-style: none; position: relative; width: 985px;">
                            <a href="#">
                                <img th:src="@{https://via.placeholder.com/985x447}" alt="item2">
                            </a>
                        </li>
                        <li aria-hidden="true" style="float: left; list-style: none; position: relative; width: 985px;">
                            <a href="#">
                                <img th:src="@{https://via.placeholder.com/985x447}" alt="item3">
                            </a>
                        </li>
                        <li aria-hidden="true" style="float: left; list-style: none; position: relative; width: 985px;">
                            <a href="#">
                                <img th:src="@{https://via.placeholder.com/985x447}" alt="item4">
                            </a>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 985px;" aria-hidden="true">
                            <a href="#">
                                <img th:src="@{https://via.placeholder.com/985x447}" alt="item5">
                            </a>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 985px;" class="bx-clone" aria-hidden="true">
                            <a href="#">
                                <img th:src="@{https://via.placeholder.com/985x447}" alt="item1">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bx-controls bx-has-controls-direction bx-has-pager">
                    <div class="bx-controls-direction">
                        <a class="bx-prev" href>Prev</a>
                        <a class="bx-next" href>Next</a>
                    </div>
                    <div class="bx-pager bx-default-pager">
                        <div class="bx-pager-item">
                            <a href data-slide-index="0" class="bx-pager-link active">1</a>
                        </div>
                        <div class="bx-pager-item">
                            <a href data-slide-index="1" class="bx-pager-link">2</a>
                        </div>
                        <div class="bx-pager-item">
                            <a href data-slide-index="2" class="bx-pager-link">3</a>
                        </div>
                        <div class="bx-pager-item">
                            <a href data-slide-index="3" class="bx-pager-link">4</a>
                        </div>
                        <div class="bx-pager-item">
                            <a href data-slide-index="4" class="bx-pager-link">5</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 히트상품 영역 -->
        <section class="hit">
            <h3>
                <span>히트상품</span>
            </h3>
            <article th:each="product:${hits}">
                <a th:href="@{/product/view(cate1 = ${product.Cate1}, cate2 = ${product.Cate2}, prodNo = ${product.prodNo})}">
                    <div class="thumb">
                        <img th:src="@{https://via.placeholder.com/230x230}" alt="t1">
                    </div>
                    <h2 th:text="${product.prodName}">상품명</h2>
                    <p th:text="${product.descript}">간단한 상품 설명</p>
                    <div class="org_price">
                        <del th:text="${#numbers.formatInteger(product.price, 1, 'COMMA')}">30,000</del>
                        <span th:text="${product.discount + '%'}">10%</span>
                    </div>
                    <div class="dis_price">
                        <ins th:text="${#numbers.formatInteger(product.disPrice, 1, 'COMMA')}">27,000</ins>
                        <span th:if="${product.delivery eq 0}" class="free">무료배송</span>
                        <span th:if="${product.delivery gt 0}">배송비 [[${product.delivery}]] 원</span>
                    </div>
                </a>
            </article>
        </section>

        <!-- 추천상품 영역 -->
        <section class="recommend">
            <h3><span>추천상품</span></h3>
            <article th:each="product:${recommends}">
                <a th:href="@{/product/view(cate1 = ${product.Cate1}, cate2 = ${product.Cate2}, prodNo = ${product.prodNo})}">
                    <div class="thumb">
                        <img th:src="@{https://via.placeholder.com/230x230}" alt="t1">
                    </div>
                    <h2 th:text="${product.prodName}">상품명</h2>
                    <p th:text="${product.descript}">간단한 상품 설명</p>
                    <div class="org_price">
                        <del>30,000</del>
                        <span>10%</span>
                    </div>
                    <div class="dis_price">
                        <ins>27,000</ins>
                        <span>배송비 2500</span>
                    </div>
                </a>
            </article>
        </section>
        <!-- 최신상품 영역 -->
        <section class="new">
            <h3><span>최신상품</span></h3>
            <article th:each="product:${news}">
                <a th:href="@{/product/view(cate1 = ${product.Cate1}, cate2 = ${product.Cate2}, prodNo = ${product.prodNo})}">
                    <div class="thumb">
                        <img th:src="@{https://via.placeholder.com/230x230}" alt="t1">
                    </div>
                    <h2 th:text="${product.prodName}">상품명</h2>
                    <p th:text="${product.descript}">간단한 상품 설명</p>
                    <div class="org_price">
                        <del>30,000</del>
                        <span>10%</span>
                    </div>
                    <div class="dis_price">
                        <ins>27,000</ins>
                        <span class="free">무료배송</span>
                    </div>
                </a>
            </article>

        </section>
        <!-- 할인상품 영역 -->
        <section class="discount">
            <h3><span>할인상품</span></h3>
            <article th:each="product:${discounts}">
                <a th:href="@{/product/view(cate1 = ${product.Cate1}, cate2 = ${product.Cate2}, prodNo = ${product.prodNo})}">
                    <div class="thumb">
                        <img th:src="@{https://via.placeholder.com/230x230}" alt="t1">
                    </div>
                    <h2 th:text="${product.prodName}">상품명</h2>
                    <p th:text="${product.descript}">간단한 상품 설명</p>
                    <div class="org_price">
                        <del>30,000</del>
                        <span>10%</span>
                    </div>
                    <div class="dis_price">
                        <ins>27,000</ins>
                        <span class="free">무료배송</span>
                    </div>
                </a>
            </article>

        </section>
    </section>
</th:block>
<th:block layout:fragment="script">
    <script>
            $(function () {

                // 슬라이더 플러그인 함수
                $(".slider > ul").bxSlider({
                    controls: true,
                    auto: true,
                });

                // 베스트 상품 사이드메뉴바 이동시키는 함수
                $(window).scroll(function () {
                    let best = $("aside > .best");
                    let t = $(this).scrollTop(); // 스크롤바 TOP 높이
                    console.log(t);

                    if (t > 620) {
                        if (t > 3000) {
                            best.css({
                                position: "absolute",
                                top: "2900px"
                            });
                            return;
                        }
                        best.css({
                            position: "absolute",
                            top: t
                        });
                    } else {
                        best.css({position: "static"});
                    }
                });


                let type = null;
                let w = $(window);

                let uri = window.location.pathname;

                // main index 페이지 일때
                if (!uri.includes('product')) {

                    // class="menu" 에 해당하는 링크 버튼 클릭시 해당 화면으로 이동하는 함수
                    $('.move  a').click(function (e) {
                        e.preventDefault();
                        let cate = $(this).attr('id');


                        switch (cate) {
                            case 'hit':
                                $('.hit')[0].scrollIntoView({behavior: 'smooth'});
                                break;
                            case 'score':
                                $('.recommend')[0].scrollIntoView({behavior: 'smooth'});
                                break;
                            case 'newProd':
                                $('.new')[0].scrollIntoView({behavior: 'smooth'});
                                break;
                            case 'favorite':
                                $('.favorite')[0].scrollIntoView({behavior: 'smooth'});
                                break;
                            case 'discount':
                                $('.discount')[0].scrollIntoView({behavior: 'smooth'});
                                break;
                        }
                    })
                }

                $(document).ready(function () {

                    // 메인페이지가 아닌 곳에서 class="menu" 에 해당하는 링크 버튼을 클릭시 사용되는 함수
                    const url = new URL(window.location.href); // URL 객체 생성
                    const urlParams = url.searchParams; // URLSearchParams 객체
                    type = urlParams.get('type') // type value 값을 가져온다.

                    switch (type) {
                        case 'hit':
                            w.scrollTop(623);
                            break;
                        case 'score':
                            w.scrollTop(1344);
                            break;
                        case 'newProd':
                            w.scrollTop(2089);
                            break;
                        case 'favorite':
                            w.scrollTop(2818);
                            break;
                        case 'discount':
                            w.scrollTop(3542);
                            break;
                    }


                    // uri확인 후 product이면 main에 id값 부여
                    if (uri.includes('product')) {
                        $('main').attr('id', 'product');
                    }

                    // HOME > cate1 > cate2에 삽입 코드
                    let cate1 = urlParams.get('cate1');
                    let cate2 = urlParams.get('cate2');

                    $('#cate1').text($('.' + cate1).text());
                    $('#cate2').text($('.' + cate1 + cate2).text());

                })
            });
        </script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</th:block>
</html>