<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/user_layout">
<th:block layout:fragment="main">
    <main id="member">
        <section class="find findPw">
            <form name="form" th:action='@{/user/findPw/result}' method="post">
                <table border="0">
                    <caption>비밀번호 찾기</caption>
                    <tr>
                        <td>아이디</td>
                        <td>
                            <input type="text" name="uid" class="val" placeholder="아이디 입력"/>
                            <span class="msgId"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td>
                            <div>
                                <input type="email" name="email" placeholder="이메일 입력"/>
                                <button type="button" class="btnAuth" id="btnEmailAuth">인증번호 받기</button>
                                <span class="msgEmail"></span>
                            </div>
                            <div>
                                <input type="text" name="emailAuthCode" readonly placeholder="인증번호 입력"/>
                                <button type="button" class="btnConfirm" id="btnEmailConfirm">확인</button>
                                <span class="msg_emailAuth"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>

            <p>
                비밀번호를 찾고자 하는 아이디와 이메일을 입력해 주세요.<br>
                회원가입시 입력한 아이디와 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.<br>
                인증번호를 입력 후 확인 버튼을 누르세요.
            </p>

            <div>
                <a href="#" class="btn btnCancel">취소</a>
                <a href="#" class="btn btnNext" onclick="">다음</a>
            </div>
        </section>
    </main>
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/emailAuth.js}"></script>
    <script>
        /* 전역변수 선언 */
        // Validation Check
        let idOk = false;
        let emailOk = false;
        let emailAuthOk = false;

        const urlParams = new URL(location.href).searchParams;
        const error = "[[${error}]]";

        if(error == "error") alert("찾으시는 회원 정보가 없습니다.");

        window.onload = function(){
            const reId = /^[a-z0-9_-]{5,20}$/;
            const inputId = document.querySelector('input[name=uid]');
            const resultId = document.querySelector('.msgId');

            // 이름 입력
            inputId.addEventListener('focusout', function() {
                let id = this.value;
                console.log(id);
                if (id.trim() == ""){
                    resultId.innerText = "필수 정보입니다.";
                    idOk = false;
                }

                else if (!reId.test(id)){
                    resultId.innerText = "5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.";
                    idOk = false;
                }

                else {
                    resultId.innerText = "";
                    idOk = true;
                }

            });

            let url = "user/find/emailAuth";
            emailAuth(url);

            const btnNext = document.querySelector('.btnNext'); // 다음 버튼

            btnNext.addEventListener('click', function(e){
                e.preventDefault();

                let okList = [idOk, emailOk, emailAuthOk];

                let inputList = document.querySelectorAll('input');

                inputList.forEach((input) => {input.focus();})

                console.log(inputList);

                for (i=0; i<inputList.length; i++){
                    if(!okList[i]){
                        inputList[i].focus();
                        return;
                    }
                }

                form.submit();
            });

        }
    </script>
</th:block>
</html>