<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/user_layout">
<th:block layout:fragment="main">
    <main id="member">
        <div class="register">
            <nav>
                <h1>일반 회원가입</h1>
            </nav>
            <form name="form" th:action="@{/register/general}" method="post">
                <section>
                    <table>
                        <caption>필수 정보입력</caption>
                        <tr>
                            <th>
                                <span class="essential">*</span>
                                아이디
                            </th>
                            <td>
                                <input type="text" name="uid" placeholder="아이디 입력" required>
                                <span class="msgId"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span class="essential">*</span>
                                비밀번호
                            </th>
                            <td>
                                <input type="password" name="pass" placeholder="비밀번호 입력" required>
                                <span class="msgPass"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span class="essential">*</span>
                                비밀번호 확인
                            </th>
                            <td>
                                <input type="password" name="confirmPass" placeholder="비밀번호 확인" required>
                                <span class="msgConfirmPass"></span>
                            </td>
                        </tr>
                    </table>
                </section>
                <section>
                    <table>
                        <caption>기본 정보입력</caption>
                        <tr>
                            <th>
                                <span class="essential">*</span>
                                이름
                            </th>
                            <td>
                                <input type="text" name="name" placeholder="이름 입력"  class="name" required>
                                <span class="msgName"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span class="essential">*</span>
                                성별
                            </th>
                            <td class="radio">
                                <label><input type="radio" name="gender" value="1"> 남</label>&emsp;
                                <label><input type="radio" name="gender" value="2"> 여</label>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span class="essential">*</span>
                                EMAIL
                            </th>
                            <td>
                                <input type="email" name="email" placeholder="이메일 입력" required/>
                                <button type="button" class="authBtn" id="btnEmailAuth">인증번호 전송</button>
                                <span class="msgEmail"></span><br/>
                                <div class="emailAuth">
                                    <input type="text" name="emailAuthCode" id="code" placeholder="인증번호 입력" readonly/>
                                    <button type="button" class="authBtn" id="btnEmailConfirm">인증번호 확인</button>
                                    <span class="msg_emailAuth"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span class="essential">*</span>
                                휴대폰
                            </th>
                            <td>
                                <input type="tel" name="hp" class="hp" placeholder="(-) 포함 13자리를 입력하세요." required>
                                <span class="msgHp"></span>
                            </td>
                        </tr>
                        <tr class="addr">
                            <th>
                                <span>&nbsp;</span>
                                주소
                            </th>
                            <td>
                                <input type="text" name="zip" id="zip" placeholder="우편번호" readonly/>
                                <button type="button" class="authBtn" id="btnSearchAddr">우편번호 찾기</button>
                                <br/>
                                <input type="text" name="addr1" id="addr1" placeholder="주소를 검색하세요."/><br/>
                                <input type="text" name="addr2" id="addr2" placeholder="상세주소를 입력하세요."/>
                            </td>
                        </tr>
                    </table>
                </section>
                <input type="submit" class="registerBtn" value="회원가입"/>
            </form>
        </div>
    </main>
</th:block>
<th:block layout:fragment="script">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/postcode.js}"></script>
    <script th:src="@{/js/register.js}"></script>
</th:block>
</html>