<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="layout/adminLayout">
<th:block layout:fragment="main">
    <section id="admin-cs-list">
        <nav>
            <h3>문의하기 목록</h3>
            <p>
                HOME > 고객센터 > <strong>문의하기</strong>
            </p>
        </nav>
        <!-- 고객센터 컨텐츠 시작 -->
        <section>
            <div>
                <select name="search1">
                    <option value="search1">1차 선택</option>
                    <option value="search1">회원</option>
                    <option value="search1">쿠폰/혜택/이벤트</option>
                    <option value="search1">주문/결제</option>
                    <option value="search1">배송</option>
                    <option value="search1">취소/반품/교환</option>
                    <option value="search1">여행/숙박/항공</option>
                    <option value="search1">안전거래</option>
                </select>
                <select name="search2">
                    <option value="search1">2차 선택</option>
                </select>
            </div>
            <table>
                <tr>
                    <th><input type="checkbox" name="all"/></th>
                    <th>번호</th>
                    <th>1차유형</th>
                    <th>2차유형</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>상태</th>
                </tr>

                <tr>
                    <td><input type="checkbox" name="상품코드"/></td>
                    <td>123</td>
                    <td>주문/결제</td>
                    <td>상품</td>
                    <td>[청소년 위해상품/이미지] 청소년이 구매할 수 없는 상품은 무엇인가요.</td>
                    <td>kim**</td>
                    <td>22-12-30</td>
                    <td>검토중</td>
                </tr>
            </table>


            <input type="button" value="선택삭제" />


            <div class="paging">
                        <span class="prev">
                            <a href="#"><&nbsp;이전</a>
                        </span>
                <span class="num">
                            <a href="#" class="on">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">7</a>
                        </span>
                <span class="next">
                            <a href="#">다음&nbsp;></a>
                        </span>
            </div>

        </section>


        <p class="ico info">
            <strong>Tip!</strong>
            전자상거래 등에서의 상품 등의 정보제공에 관한 고시에 따라 총 35개 상품군에 대해 상품 특성 등을 양식에 따라 입력할 수 있습니다.
        </p>



        <!-- 상품목록 컨텐츠 끝 -->
    </section>
</th:block>