<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="layout/adminLayout">
<th:block layout:fragment="main">
    <section id="cs-view" class="admin">
        <nav>
            <th:block th:if="${cate1} == notice">
                <h3>공지사항 보기</h3>
                <p>HOME > 고객센터 > <strong>공지사항</strong></p>
            </th:block>
            <th:block th:if="${cate1} == faq">
                <h3>자주묻는질문 보기</h3>
                <p>HOME > 고객센터 > <strong>자주묻는 질문</strong></p>
            </th:block>
            <th:block th:if="${cate1} == qna">
                <h3>문의사항 답변</h3>
                <p>HOME > 고객센터 > <strong>문의하기</strong></p>
            </th:block>
        </nav>
    <th:block th:if="${cate1} == notice">
        <table>
            <tr>
                <td>유형</td>
                <td class="type">[[${article.type}]]</td>
            </tr>
            <tr>
                <td>제목</td>
                <td class="title">[[${article.title}]]</td>
            </tr>
            <tr>
                <td>내용</td>
                <td class="content">
                    <p>
                        [[${article.content}]]
                    </p>
                </td>
            </tr>
        </table>
        <div>
            <a href="#" class="deleteCs" th:data-no="${article.csNo}">삭제</a>
            <a th:href="@{/admin/cs/write(cate1=${cate1})}" class="btnModify">수정</a>
            <a th:href="@{/admin/cs/list(cate1=${cate1})}" class="btnList">목록</a>
        </div>
    </th:block>
    <th:block th:if="${cate1} == faq">
        <table>
            <tr>
                <td>유형</td>
                <td class="type">
                    [[${article.type}]]
                </td>
            </tr>
            <tr>
                <td>제목</td>
                <td class="title">[[${article.title}]]</td>
            </tr>
            <tr>
                <td>내용</td>
                <td class="content">
                    <p>
                        [[${article.content}]]
                    </p>
                </td>
            </tr>
        </table>
        <div>
            <a href="#" class="deleteCs" th:data-no="${article.csNo}">삭제</a>
            <a th:href="@{/admin/cs/write(cate1=${cate1})}" class="btnModify">수정</a>
            <a th:href="@{/admin/cs/list(cate1=${cate1})}" class="btnList">목록</a>
        </div>
    </th:block>

    <th:block th:if="${cate1} == qna">
        <form th:action="@{/admin/cs/reply}" id='qnaForm' method="get">
            <input type="hidden" name="csNo" th:value="${article.csNo}"/>
            <input type="hidden" name="cate1" th:value="${cate1}"/>

            <table class="qna">
                <tr>
                    <td>유형</td>
                    <td class="type">[[${article.type}]]</td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td class="title">[[${article.title}]]</td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>
                        <p style="font-size: 15px">
                            [[${article.content}]]
                        </p>
                    </td>
                </tr>

                <!-- 답변 -->
                <tr>
                    <td>답변</td>
                    <td id='commentTextarea'>
                        <th:block th:if="${article.comment} != null">
                            <p style="font-size: 15px;">[[${article.comment}]]</p>
                        </th:block>
                        <th:block th:if="${article.comment} == null">
                            <textarea name="comment" class="comment" required></textarea>
                        </th:block>
                    </td>
                </tr>
            </table>

            <a href="#" class="deleteCs" id='qnaRemove' th:data-no="${article.csNo}">삭제</a>
                <th:block th:if="${article.comment} != null">
                    <input  type="submit" id="reply1" class="btnWrite" value="답변수정">
                </th:block>
                <th:block th:if="${article.comment} == null">
                    <input  type="submit" id="reply2" class="btnWrite" value="답변등록">
                </th:block>
            <a th:href="@{/admin/cs/list(cate1=${cate1})}" id='qnaList' class="btnList">목록</a>
        </form>
    </th:block>
</th:block>