<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/cs_layout">
<th:block layout:fragment="main">
            <article>
                <nav>
                    <th:block th:switch="${sc.cate2}">
                    <h1 th:case="user">회원</h1>
                    <h1 th:case="coupon">쿠폰/이벤트</h1>
                    <h1 th:case="order">주문/결제</h1>
                    <h1 th:case="delivery">배송</h1>
                    <h1 th:case="cancel">취소/반품/교환</h1>
                    <h1 th:case="travel">여행/숙박/항공</h1>
                    <h1 th:case="safeDeal">안전거래</h1>
                    </th:block>
                    <h2>가장 자주 묻는 질문입니다.</h2>
                </nav>
                <div>
                    <h3>가입</h3>
                    <th:block th:each="article,i">
                    <ul>
                        <li><a th:href="@{/cs/faq/view}"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                    </ul>
                    </th:block>
                </div>
                <div>
                    <h3>탈퇴</h3>
                    <ul>
                        <li><a th:href="@{/cs/faq/view}"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                    </ul>
                </div>
                <div>
                    <h3>회원정보</h3>
                    <ul>
                        <li><a th:href="@{/cs/faq/view}"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                    </ul>
                </div>
                <div>
                    <h3>로그인</h3>
                    <ul>
                        <li><a th:href="@{/cs/faq/view}"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                    </ul>
                </div>
            </article>
        </section>
    </div>
</section>
</th:block>