<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/cs_layout">
<th:block layout:fragment="main">
                    <article>
                        <th:block th:switch="${sc.cate2}">
                            <nav th:case="user">
                                <h1>회원</h1>
                                <h2>회원 관련 문의 내용입니다.</h2>
                            </nav>
                            <nav th:case="coupon">
                                <h1>쿠폰/이벤트</h1>
                                <h2>쿠폰/이벤트 관련 문의 내용입니다.</h2>
                            </nav>
                            <nav th:case="order">
                                <h1>주문/결제</h1>
                                <h2>주문/결제 관련 문의 내용입니다.</h2>
                            </nav>
                            <nav th:case="delivery">
                                <h1>배송</h1>
                                <h2>배송 관련 문의 내용입니다.</h2>
                            </nav>
                            <nav th:case="cancel">
                                <h1>취소/반품/교환</h1>
                                <h2>취소/반품/교환 관련 문의 내용입니다.</h2>
                            </nav>
                            <nav th:case="travel">
                                <h1>여행/숙박/항공</h1>
                                <h2>여행/숙박/항공 관련 문의 내용입니다.</h2>
                            </nav>
                            <nav th:case="safeDeal">
                                <h1>안전거래</h1>
                                <h2>안전거래 관련 문의 내용입니다.</h2>
                            </nav>
                        </th:block>
                        <form th:action="@{/cs/qna/write}" th:object="${qna}" method="post">
                            <table>
                                <tr>
                                    <td>문의유형</td>
                                    <td>
                                        <select onchange="typesChange(this)" th:field="*{cate2}">
                                            <option value="0" selected="selected">선택</option>
                                            <option value="user">회원</option>
                                            <option value="coupon">쿠폰/이벤트</option>
                                            <option value="order">주문/결제</option>
                                            <option value="delivery">배송</option>
                                            <option value="cancel">취소/반품/교환</option>
                                            <option value="travel">여행/숙박/항공</option>
                                            <option value="safeDeal">안전거래</option>
                                        </select>
                                        <select id="type" name="type" th:field="*{type}">
                                            <option value="0">선택</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>문의제목</td>
                                    <td><input th:field="*{title}" type="text" name="title" placeholder="제목을 입력하세요"></td>
                                </tr>
                                <tr>
                                    <td>문의내용</td>
                                    <td><textarea th:field="*{content}" name="content" placeholder="내용을 입력하세요"></textarea></td>
                                </tr>
                            </table>
                        <a th:href="@{/cs/qna/list(cate1=${sc.cate1},cate2=${sc.cate2})}" class="btnList">취소하기</a>
                        <button type="submit" class="btnSubmit">등록하기</button>
                        </form>
                    </article>
                </section>
            </div>
        </section>
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/qna.js}"></script>
</th:block>